<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async defer data-domain="pedroassuncao.com" src="https://plausible.io/js/plausible.js"></script>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:logo" content="http://pedroassuncao.com/images/500x500.png" />

    <%= live_title_tag assigns[:page_title] || "Pedro Assunção - Software Developer", suffix: " - pedroassuncao.com" %>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text|Share+Tech" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%=# controller_css(@conn) %>
    <%= csrf_meta_tag() %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="bg-gray-100 flex flex-col h-full min-h-screen m-0 p-0">
      <%= render(NoozoWeb.LayoutView, "navigation.html", conn: @conn) %>

      <main class="flex-grow">
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
          <div class="px-4 py-6 sm:px-0">
            <div class="shadow border-1 border-gray-300 rounded-lg p-5 lg:p-10 bg-white">
              <%= render(NoozoWeb.LayoutView, "flashes.html", conn: @conn) %>
              <%= @inner_content %>
            </div>
          </div>
        </div>
      </main>

      <%= render(NoozoWeb.LayoutView, "footer.html", conn: @conn) %>
  </body>
</html>
