<div class="columns">
  <div class="column">
    <div class="title has-text-centered">404</div>
    <div class="subtitle has-text-centered">four oh four, uh-oh</div>
    <div class="subtitle has-text-centered">There seems to be nothing here.</div>
  </div>
</div>
