@import 'live_view';
@import '../node_modules/chartist/dist/chartist.css';

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

iframe {
    display: none;
}
.btn {
    @apply px-4 py-2 items-center justify-center rounded-full bg-gray-200 text-black hover:no-underline hover:bg-gray-700 hover:text-white cursor-pointer;
}
.btn-nav {
    @apply text-black hover:bg-gray-600 hover:text-white px-3 py-2 rounded-md text-sm font-medium;
}
.active {
    @apply bg-gray-300 text-black;
}
.btn-nav-mobile {
    @apply text-black hover:bg-gray-600 hover:text-white block px-3 py-2 rounded-md text-base font-medium;
}
.btn-nav-dropdown {
    @apply block px-4 py-2 text-sm text-black hover:bg-gray-100;
}
pre {
    display: inline-block;
}
pre strong {
    color: white !important;
}

.tag {
    @apply mr-2 text-xs inline-flex items-center uppercase px-3 py-1 rounded-full bg-white text-black border;
}
.tag a {
    @apply no-underline;
}
.tag-xs {
    @apply mr-1 text-xs inline-flex items-center px-2 py-1 rounded-lg bg-white text-black border;
}
.tag-xs a {
    @apply no-underline;
}
.social-icon {
    @apply inline w-4 h-4;
    margin: 0 !important;
    margin-right: 0.3em !important;
}
table {
    @apply min-w-full divide-y divide-gray-200;
}
thead { @apply bg-gray-50; }
tbody { @apply bg-white divide-y divide-gray-200; }
tr {}
th { @apply px-6 py-3 text-left text-xs font-medium text-black uppercase tracking-wider; }
td { @apply px-6 py-2 whitespace-nowrap; }

.admin .btn {
    @apply px-4 py-2 items-center justify-center rounded-full bg-gray-200 text-black hover:no-underline hover:bg-gray-700 hover:text-white;
}
.admin .btn-nav {
    @apply text-gray-400 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium;
}
.admin .active {
    @apply bg-gray-900 text-white;
}
.admin .btn-nav-mobile {
    @apply text-white hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium;
}
.admin main a {
    @apply text-black hover:underline;
}

.drag-target-active {
    opacity: 0.5;
    border: 5px solid red;
}

label {
    @apply block text-sm font-medium text-gray-700;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    @apply shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md;
}
